@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/Master.cshtml";
}



<div class="aramaAlani">

    <div class="logo">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="color: #00cbf0; ">
            bulbizi.com  |
        </span>

    </div>
     
    <input type="text" class="form-control" placeholder="Aranacak yer, yemek, giyim, elektronik, mağaza, semt, dükkan ">
</div>



<div class="social-facebook"><a href="https://www.facebook.com/bilsesoft" style="color:#fff"> <i class="fa fa-facebook fa-2x"></i> </a>  </div>
<div class="social-twiter"><a href="https://twitter.com/bilsesoft" style="color:#fff">  <i class="fa fa-twitter fa-2x"></i> </a>  </div>
<div class="social-linked"><a href="https://www.linkedin.com/company/bilsesoft" style="color:#fff">  <i class="fa fa-linkedin fa-2x"></i> </a>  </div>


<div class="row" style="margin-top:5%">
    <div class="process">
        <div class="process-row nav nav-tabs">
            <div class="process-step" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea;   border-right: 1px solid #eaeaea; border-radius: 20px; padding: 3px; ">
                <a data-toggle="tab" href="#menu1">
                    <i class="glyphicon glyphicon-globe fa-2x" style="color:#d70142"></i>
                    <p style="color:#d70142; font-size:13px; font-family:Tahoma ; font-weight:900 ">
                        <bold>HER YERDE KULLANIMI</bold>
                    </p>
                </a>
                        <hr style="border: 2px solid #d70142; width: 30px;" />
                   
               
            </div>
            <div class="process-step" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea;  border-right: 1px solid #eaeaea; border-radius: 20px; padding: 3px; ">
                <a data-toggle="tab" href="#menu2">
                    <i class="glyphicon glyphicon-edit fa-2x" style="color: #00b2f6"></i>
                    <p style="color: #00b2f6; font-size: 13px; font-family: Tahoma ; font-weight: 900; "><bold>KOLAY KAYIT OLMA</bold> </p>
                </a>
                <hr style="border: 2px solid #00b2f6; width: 30px;" />
            </div>
            <div class="process-step" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea;  border-right: 1px solid #eaeaea; border-radius: 20px; padding: 3px; ">
                <a data-toggle="tab" href="#menu3">
                    <i class="glyphicon glyphicon-pushpin fa-2x" style="color:#00b96a"></i>
                    <p style="color: #00b96a; font-size: 13px; font-family: Tahoma; font-weight: 900; "><bold>KENDİ REKLAMI YAP</bold> </p>
                </a>
                <hr style="border: 2px solid #00b96a; width: 30px;" />
            </div>
            <div class="process-step" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea;  border-right: 1px solid #eaeaea; border-radius: 20px; padding: 3px; ">
                <a data-toggle="tab" href="#menu4"><i class="glyphicon glyphicon-phone fa-2x" style="color:#e7e900"></i></a>
                <p style="color: #e7e900; font-size: 13px; font-family: Tahoma; font-weight: 900; "><bold>MOBİL DESTEĞİ</bold> </p>
                <hr style="border: 2px solid #e7e900; width: 30px;" />
            </div>

        </div>
    </div>
</div>

 


