@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/Master.cshtml";
}



<div class="aramaAlani">

    <div class="logo">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="color: #00cbf0; ">
            bulbizi.com  |
        </span>

    </div>
     
    <input type="text" class="form-control" placeholder="Aranacak yer, yemek, giyim, elektronik, mağaza, semt, dükkan ">
</div>



<div class="social-facebook"><a href="https://www.facebook.com/bilsesoft" style="color:#fff"> <i class="fa fa-facebook fa-2x"></i> </a>  </div>
<div class="social-twiter"><a href="https://twitter.com/bilsesoft" style="color:#fff">  <i class="fa fa-twitter fa-2x"></i> </a>  </div>
<div class="social-linked"><a href="https://www.linkedin.com/company/bilsesoft" style="color:#fff">  <i class="fa fa-linkedin fa-2x"></i> </a>  </div>


<div class="row" style="margin-top:5%">
    <div class="process">
        <div class="process-row nav nav-tabs">
            <div class="process-step" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea;   border-right: 1px solid #eaeaea; border-radius: 20px; padding: 3px; ">
                <a data-toggle="tab" href="#menu1">
                    <i class="glyphicon glyphicon-globe fa-2x" style="color:#d70142"></i>
                    <p style="color:#d70142; font-size:13px; font-family:Tahoma ; font-weight:900 ">
                        <bold>Kullanım</bold>
                    </p>
                </a>
                        <hr style="border: 2px solid #d70142; width: 30px;" />
                   
               
            </div>
            <div class="process-step" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea;  border-right: 1px solid #eaeaea; border-radius: 20px; padding: 3px; ">
                <a data-toggle="tab" href="#menu2">
                    <i class="glyphicon glyphicon-edit fa-2x" style="color: #00b2f6"></i>
                    <p style="color: #00b2f6; font-size: 13px; font-family: Tahoma ; font-weight: 900; "><bold>WEB YAZILIMI</bold> </p>
                </a>
                <hr style="border: 2px solid #00b2f6; width: 30px;" />
            </div>
            <div class="process-step" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea;  border-right: 1px solid #eaeaea; border-radius: 20px; padding: 3px; ">
                <a data-toggle="tab" href="#menu3">
                    <i class="glyphicon glyphicon-pushpin fa-2x" style="color:#00b96a"></i>
                    <p style="color: #00b96a; font-size: 13px; font-family: Tahoma; font-weight: 900; "><bold>REKLAM HİZMETİ</bold> </p>
                </a>
                <hr style="border: 2px solid #00b96a; width: 30px;" />
            </div>
            <div class="process-step" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea;  border-right: 1px solid #eaeaea; border-radius: 20px; padding: 3px; ">
                <a data-toggle="tab" href="#menu4"><i class="glyphicon glyphicon-phone fa-2x" style="color:#e7e900"></i></a>
                <p style="color: #e7e900; font-size: 13px; font-family: Tahoma; font-weight: 900; "><bold>MOBİL UYGULAMA</bold> </p>
                <hr style="border: 2px solid #e7e900; width: 30px;" />
            </div>

        </div>
    </div>
</div>


<div class="tab-content">
    <div id="menu1" class="tab-pane fade active in" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-radius: 20px; padding: 5px; ">
        <p style="margin-left: 5px;  ">
            Kullanıcı deneyimilerinin ön planda tutarak firmaların taleplerini ve ihtiyaçlarını en doğru şekilde yansıtıp kullanışlı, tüm tarayıcı ve cihazlarda uyumlu çalışabilecek şekilde web tasarım çalışmasını  hazırlamaktayız. İşimiz, müşterilerinizin taleplerine uygun doğru, hızlı ve kullanışlı tasarımlar hazırlayıp sunmaktır.<br />
            <br />
            Grafik hizmetlerimiz;<br /><br />

            - Logo Çalışması<br />
            - Banner & Reklam Çalışması<br />
            - Kurumsal Site Tasarımı<br />
            - Mobil Uygulama Tasarımı<br />
            - Arayüz Tasarımı
        </p>

    </div>
    <div id="menu2" class="tab-pane fade" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-radius: 20px; padding: 5px; ">

        <p style="margin-left: 5px">
            Web yazılım ve projelerde önceliğimiz yapılacak olan yazılımın algoritmasını çıkararak bugün ve yarın olacak tüm ihtiyaçlarınızı belirleyerek projenizin ileriye dönük çalışmaların temelini hazırlarız. Masaüstü ve mobil yazılımlarımızla oluşturduğumuz inovatif düşünce ile ,sizi daima ileriye taşıyacak çalışmalarımızla başarınızın temellerini birlikte oluştururuz.<br /><br />


            Yazılımlarımız<br /><br />

            - CRM Yazılım<br />
            - E-Ticaret Yazılımı<br />
            - Kurumsal Web Yazılımı<br />
            - Android Yazılım<br />
            - Özel Yazılımlar
        </p>

    </div>
    <div id="menu3" class="tab-pane fade" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-radius: 20px; padding: 5px; ">

        <p style="margin-left: 5px">
            Firmaların ve markaların ihtiyaç duyduğu internet reklamcılığı alanındaki tüm çalışmaların öncesinde ilgili pazar araştırmasını ile birlikte hedef kitlenizle ilgili çalışmalar yaparak reklam planması ve bütçenizi belirleyerek nasıl bir yol izleyeceğinizin haritası çıkartılır. Elde ettiğimiz verileri firmalarla paylaşarak oluşturulacak kampanya ve reklam çalışmalarının çalışmasına başlarız.<br /><br />

            Bilse Soft olarak vermiş olduğumuz hizmetlerimiz;<br /><br />

            Sosyal Medya Reklamcılığı<br />

            -   Facebook<br />
            -   Twitter<br />
            -   İnstagram


        </p>

    </div>
    <div id="menu4" class="tab-pane fade" style="border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-radius: 20px; padding: 5px; ">

        <p style="margin-left: 5px">
            Yapılmış olan veya yapılacak olan web sitelerinizi Android yazıım ile Google Play'e atabilmeniz için gereken yazılımları yapmaktayız. Var olan web sitelerinizi mobil destekli hale getirme imkanı sunmaktayız. Artık benim web sitem telefonda şık bir tasarımla gözüksün diyorsanız doğru adrestesiniz. Yapmanız gereken tek şey bize mail yoluyla sıkıntılarınız ve isteklerinizi anlatmak olacaktır. İletişim kısmında bize ulaşabilirsiniz.
            <br /><br />
            Bilse soft olarak vermiş olduğumuz mobil hizmetleri; <br /><br />

            - Android mobil uygulama yazılımı<br />
            - Web site mobil desteği sağlama <br />
            - Mobil 2D oyun tasarımı<br />
            - Android özel dersleri<br />

        </p>

    </div>

</div>




